{% load static %}
<h1>Editar Competição</h1>

<form method="post">
  {% csrf_token %}

  <a href="{% url 'adicionar_time' competicao.id %}">
    <button type="button">Adicionar Time</button>
  </a>
  <br><br>
  <label>Nome:</label><br>
  <input type="text" name="nome" value="{{ competicao.nome }}"><br><br>

  <label>Número de times:</label><br>
  <input type="number" name="numero_de_times" value="{{ competicao.numero_de_times }}"><br><br>

  <label>Local:</label><br>
  <input type="text" name="local" value="{{ competicao.local }}"><br><br>

  <button type="submit">Salvar</button>
</form>

<a href="{% url 'lista_competicoes' %}">Voltar</a>