{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <title>Lista de Competições</title>
</head>
<body>
    <div class = alinhar>

        <h1>Competições Cadastradas</h1>
        <ul>
            {% for competicao in competicoes %}
            <div class = "ajeitar"><li>
                {{ competicao.nome }} - {{ competicao.local }} ({{ competicao.numero_de_times }} times)
                [<a href="{% url 'editar_competicao' competicao.id %}">Editar</a>]
                
                <form action="{% url 'excluir_competicao' competicao.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir {{ competicao.nome }}?')">
                        Excluir
                    </button>
                </form>
            </li>
            {% empty %}
            <div class = "ajeitar"r><li>Nenhuma competição cadastrada.</li></div>
            {% endfor %}
        </ul>
    </div>
        <a href="{% url 'criar_competicao' %}">Criar nova competição</a>
    </div>
</body>
</html>
